.idea/
.idea/*
design_notes.txt
build_docs/
framework/AppMain.py
__pycache__/
*.py[cod]
*/__pycache__/*

framework/__pycache__/
framework/abstract_client/__pycache__/
framework/clients/__pycache__/
framework/clients/file/__pycache__/
framework/clients/kafka/__pycache__/
.tox/
.tox/py35/lib/python3.5/__pycache__
.tox/py35/tmp/
build/
build/bdist.linux-x86_64/
dist/
.pytest_cache/
